

.addques {
    background-color: #d7d7dd;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border-style: outset;
    padding: 5px;
    

}
label{
    font-size: 20px;
    

}
h2{
    font-size: 30px;
    
}
.question{
    font-size:25px;
    font-weight: 600;
}
.type{
    font-size: 20px;
    font-style: oblique;
    padding: 5px;
}

li{
    font-size: 18px;
}
.check{
    background-color: rgb(213, 245, 227);
}
.check:hover {
    background-color: rgba(175, 224, 196, 0.736);
  }
.delete{
    background-color: rgb(255, 199, 199);
}
.delete:hover {
    background-color: rgb(186, 149, 149);
  }
  .ques{
    background-color: rgb(236, 236, 236);
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-top: 1%;
  }